<form action="register" method="post" class="main">

<h2 class="form-signin-heading">機器を登録します</h2>
<div style="margin:20px 0px">部内BOT(
<a href="https://twitter.com/busitu_now">@busitu_now</a>
)があなたの入退室をつぶやきます.<br>
部内BOTにつぶやかせたい名前を登録してください.<br>
複数機器を登録する場合登録する名前は同じにしてください.<br>
<a href="README.md">README</a><br>
  </div>
  <input type="text" name="name" class="span5" placeholder="自分の名前">
  <div><input class="btn btn-large btn-primary" type="submit" value="登録"></input></div>
  </form>



